In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

In [3]:
df = pd.read_csv('data.csv')

s = "Q"
columns = []
for i in range(1, 29):
    columns.append(s + str(i))
    
df[columns] = df[columns].replace([1, 2, 3, 4, 5], [-2, -1, 0, 1, 2])
df["sum"] = df[columns].sum(axis=1).div(28)
df2 = df[df["Q1"] != df["sum"]]
df2

,instr,class,nb.repeat,attendance,difficulty,Q1,Q2,Q3,Q4,Q5,...,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,sum
8,1,2,1,1,3,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1.035714
14,1,2,1,2,3,-2,-2,-2,-2,-2,...,0,0,0,-1,-1,-2,-2,-2,-2,-1.607143
15,1,2,1,3,4,2,2,1,1,2,...,1,1,2,2,1,1,1,2,1,1.535714
22,1,2,1,3,3,0,0,0,0,0,...,-1,-2,-2,-2,0,-1,-1,-1,-1,-0.392857
23,1,2,1,2,4,2,0,0,0,-1,...,-1,1,1,2,2,1,1,2,2,0.642857
25,1,2,1,0,2,-2,-2,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.071429
26,1,2,1,1,2,-2,-2,-2,-2,2,...,2,2,2,2,2,2,2,2,2,1.428571
29,1,2,1,3,3,1,1,1,1,1,...,1,1,0,0,0,0,0,0,0,0.750000
32,1,2,1,2,4,-1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.928571
34,1,2,1,2,3,-2,-2,-2,-2,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.214286
35,1,2,1,3,4,0,0,0,0,0,...,0,0,1,1,-1,1,-1,-2,0,-0.071429
40,1,2,1,1,3,1,1,1,1,1,...,1,1,1,1,1,1,2,1,1,1.250000
42,1,2,2,1,3,-1,0,0,0,-1,...,0,0,0,0,-1,-1,-2,-2,-2,0.142857
45,1,2,1,3,4,-1,0,1,2,2,...,-1,1,-1,-1,1,-1,-1,0,-1,0.392857
48,1,2,1,1,3,1,1,1,0,1,...,2,2,2,0,1,2,1,1,2,1.142857
49,1,2,1,1,5,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.892857
55,1,2,1,1,1,-2,-2,-2,-2,-2,...,2,2,2,2,2,2,1,2,2,0.500000
61,1,2,1,3,3,-1,1,1,-1,2,...,2,2,2,2,2,2,2,1,2,1.571429
63,1,2,1,2,5,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.892857
66,1,2,1,4,3,0,2,1,1,2,...,2,2,2,2,2,2,2,2,2,1.785714
68,1,2,1,3,3,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.250000
69,1,2,1,3,3,2,1,2,1,1,...,1,2,1,1,1,2,2,1,2,1.464286
70,1,2,1,4,3,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1.142857
71,1,2,1,0,1,0,0,-2,0,-2,...,0,0,0,-1,0,1,-1,0,0,-0.535714
73,1,2,1,1,5,2,-1,-1,-1,2,...,2,2,2,2,1,2,2,-2,2,1.464286
75,1,2,1,3,3,1,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1.964286
77,1,2,1,4,3,1,1,1,1,1,...,1,1,1,1,1,2,1,1,1,1.035714
78,1,2,1,1,4,0,0,0,1,1,...,1,1,1,1,1,1,1,1,1,0.714286
88,1,2,1,3,4,0,0,0,0,0,...,1,-2,-2,0,0,0,0,0,0,-0.035714
92,1,2,1,4,3,-2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1.857143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5732,3,13,1,1,5,2,2,-1,2,2,...,1,1,1,1,2,2,2,1,1,1.107143
5733,3,13,1,1,4,0,1,2,0,1,...,-1,0,1,1,-1,2,0,1,1,0.392857
5735,3,13,1,1,5,-1,-1,-1,0,-1,...,0,0,0,0,0,0,0,0,0,-0.107143
5736,3,13,1,0,4,0,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1.928571
5737,3,13,3,0,3,2,2,2,2,2,...,2,2,2,1,2,2,2,2,1,1.928571
5743,3,13,1,1,2,-1,-1,-2,-1,-2,...,-2,-1,-2,-1,-2,-2,-1,-2,-2,-1.785714
5744,3,13,1,4,4,0,0,0,0,0,...,2,1,0,-1,-2,-1,0,1,2,0.142857
5745,3,13,1,2,4,-1,-1,0,-1,-1,...,1,1,1,1,1,1,1,1,1,0.535714
5750,3,13,1,3,4,0,-1,-1,-1,-1,...,-1,0,-1,-1,-1,-1,0,-1,-1,-0.821429
5755,3,13,1,3,2,-1,-1,0,-1,0,...,0,1,-1,0,-1,0,-1,-1,0,-0.214286
5757,3,13,1,2,2,-2,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.035714
5758,3,13,1,3,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.035714
5759,3,13,1,1,2,-1,-1,-1,-1,0,...,-1,-1,-1,0,-1,-1,-1,-1,-1,-0.857143
5760,3,13,1,1,4,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,0,0,-0.428571
5762,3,13,1,4,5,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0.142857
5763,3,13,1,1,3,0,1,1,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-1.714286
5765,3,13,1,0,1,-2,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-1.964286
5766,3,13,1,1,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.035714
5768,3,13,1,3,4,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1.928571
5775,3,13,3,4,2,-2,-1,0,-1,-1,...,2,2,2,2,2,2,2,2,1,1.107143
5776,3,13,1,1,2,2,-2,2,2,1,...,2,2,1,2,2,2,2,1,2,1.714286
5782,3,13,1,0,5,-1,-2,-1,-2,-1,...,-1,-1,-1,-1,-2,-1,-1,-2,-1,-1.392857
5786,3,13,2,0,4,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0.321429
5794,3,13,2,0,3,-1,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-1.964286
5796,3,13,1,1,2,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,0,0,-0.571429
5803,3,13,1,3,5,-1,-1,-1,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-1.250000
5808,3,13,1,3,3,-2,-2,-2,2,-2,...,0,-1,-1,0,-1,-1,0,-1,-1,-0.857143
5813,3,13,2,3,4,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-0.035714
5814,3,13,1,2,4,-2,-2,-2,-2,-2,...,-2,-2,-1,-2,-2,-2,-2,-2,-2,-1.892857
5816,3,13,1,3,4,1,1,1,1,1,...,2,2,2,1,2,2,2,2,2,1.571429