In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

In [40]:
pd.options.display.max_rows=3000


df = pd.read_csv('data.csv')

s = "Q"
columns = []
for i in range(1, 29):
    columns.append(s + str(i))
    
df[columns] = df[columns].replace([1, 2, 3, 4, 5], [-2, -1, 0, 1, 2])
df["sum"] = df[columns].sum(axis=1).div(28)
df2 = df[df["Q1"] != df["sum"]]
df2





attendance = df["attendance"].sum()

float_att = float(attendance)


print((float_att / df['instr'].count()))
print(df2['attendance'].value_counts())###
print(df2['nb.repeat'].value_counts())###

df2.groupby(['instr','class']).mean()

1.6756013745704468
0    732
3    699
1    506
4    451
2    411
Name: attendance, dtype: int64
1    2388
2     267
3     144
Name: nb.repeat, dtype: int64

             nb.repeat  attendance  difficulty        Q1        Q2        Q3  \
instr class
1     2       1.139535    1.976744    3.302326 -0.139535  0.093023  0.069767
      7       1.227723    2.455446    3.900990 -0.376238 -0.049505  0.346535
      10      1.076023    2.017544    2.684211  0.093567  0.251462  0.286550
2     1       1.172932    1.887218    2.518797 -0.210526  0.225564  0.315789
      6       1.155642    1.887160    2.575875 -0.241245  0.175097  0.412451
      11      1.099548    2.076923    3.176471 -0.171946  0.090498  0.257919
      13      1.033333    1.950000    2.166667 -0.316667  0.066667  0.150000
3     3       1.172973    1.602703    3.072973 -0.405405 -0.202703 -0.002703
      4       1.264957    1.786325    2.948718 -0.965812 -0.649573 -0.239316
      5       1.092958    1.836620    3.030986 -0.225352 -0.011268 -0.056338
      8       1.243161    2.291793    3.136778 -0.674772 -0.179331  0.291793
      9       1.335664    1.762238    2.793706 -0.465035 -0.129371  0.272727
      12      1.176471    2.117647    3.000000  0.000000  0.529412  0.529412
      13      1.351032    1.448378    2.545723 -0.554572 -0.377581 -0.153392

                   Q4        Q5        Q6        Q7  ...       Q20       Q21  \
instr class                                          ...
1     2     -0.023256  0.465116  0.255814  0.302326  ...  0.674419  0.581395
      7     -0.059406  0.326733 -0.217822 -0.029703  ...  0.455446  0.297030
      10     0.228070  0.274854  0.333333  0.251462  ...  0.187135  0.187135
2     1      0.142857  0.218045  0.127820  0.187970  ...  0.541353  0.624060
      6      0.143969  0.249027  0.260700  0.214008  ...  0.595331  0.595331
      11     0.045249  0.113122 -0.230769 -0.131222  ...  0.556561  0.710407
      13     0.133333  0.166667  0.133333 -0.083333  ...  0.616667  0.866667
3     3     -0.151351 -0.137838 -0.129730 -0.167568  ...  0.156757  0.178378
      4     -0.649573 -0.470085 -0.401709 -0.478632  ...  0.085470  0.136752
      5      0.050704  0.050704  0.129577 -0.107042  ...  0.304225  0.278873
      8     -0.179331 -0.197568  0.051672 -0.188450  ...  0.632219  0.841945
      9     -0.041958 -0.069930  0.167832 -0.020979  ...  0.416084  0.454545
      12     0.294118  0.058824  0.058824 -0.058824  ...  0.529412  0.764706
      13    -0.309735 -0.262537 -0.371681 -0.395280  ... -0.008850  0.005900

                  Q22       Q23       Q24       Q25       Q26       Q27  \
instr class
1     2      0.488372  0.441860  0.465116  0.581395  0.302326  0.395349
      7      0.297030  0.356436  0.504950  0.524752  0.267327  0.079208
      10     0.298246  0.257310  0.257310  0.321637  0.286550  0.198830
2     1      0.586466  0.496241  0.360902  0.533835  0.541353  0.270677
      6      0.673152  0.482490  0.416342  0.591440  0.435798  0.276265
      11     0.701357  0.452489  0.316742  0.565611  0.438914  0.366516
      13     0.883333  0.483333  0.300000  0.733333  0.633333  0.433333
3     3      0.208108  0.024324 -0.010811  0.302703  0.064865 -0.054054
      4      0.059829 -0.188034 -0.256410  0.188034  0.085470 -0.188034
      5      0.307042  0.056338  0.070423  0.298592  0.160563 -0.022535
      8      0.778116  0.221884  0.088146  0.686930  0.279635  0.158055
      9      0.496503  0.178322  0.045455  0.461538  0.213287  0.160839
      12     0.823529  0.411765  0.294118  0.764706  0.588235  0.647059
      13     0.076696 -0.106195 -0.212389  0.088496 -0.067847 -0.238938

                  Q28       sum
instr class
1     2      0.488372  0.423588
      7      0.346535  0.266266
      10     0.350877  0.291980
2     1      0.691729  0.398228
      6      0.595331  0.413424
      11     0.533937  0.307046
      13     0.716667  0.387500
3     3      0.294595 -0.003764
      4      0.230769 -0.159341
      5      0.292958  0.089537
      8      0.662614  0.218736
      9      0.451049  0.174326
      12     0.941176  0.392857
      13     0.017699 -0.162769

[14 rows x 32 columns]